# Web Server & Framework
fastapi
uvicorn[standard]
gunicorn

# Banco de Dados
sqlalchemy
psycopg2-binary

# Segurança e Autenticação
python-jose[cryptography]
passlib[bcrypt]
bcrypt

# Utilitários
reportlab
python-multipart